.restPassword {
    min-height: 110vh;
    background-image: linear-gradient(45deg, #2196f3, #ff4685);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
}

.restPasswordForm {
    background-color: white;
    height: 100%;
    width: 50%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-logo {
    width: 12rem;
}

.restPasswordForm>h2 {
    font-size: 4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.667);
    margin: 0 0 2rem 0;
    letter-spacing: 0.1rem;
}


.links {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 2rem;
}

.link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.61);
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
}

.link:hover {
    color: rgba(0, 0, 0, 0.947);
}


@media screen and (max-width: 600px) {
    .restPasswordForm {
        width: 100%;
    }

}